@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400;500;600;700;800;900&display=swap');

@font-face {
    font-family: 'Tan pearl';
    src: local('Tan pearl'), url(../../fonts/TAN-PEARL.ttf) format('truetype');
  }

.header{
    font-family: 'Cinzel', serif;
}
.button{
    font-family: Tan pearl;
}